Repository jyablonski/lotus, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, analyzer, experiments, infrastructure

.github/labeler.yml:

backend:
  - changed-files:
      - any-glob-to-any-file: "services/backend/**"

frontend:
  - changed-files:
      - any-glob-to-any-file: "services/frontend/**"

analyzer:
  - changed-files:
      - any-glob-to-any-file: "services/analyzer/**"

experiments:
  - changed-files:
      - any-glob-to-any-file: "services/experiments/**"

infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infra/**"

add
  .github/workflows/analytics.yaml
  services/analytics/.gitignore
  services/analytics/.python-version
  services/analytics/Dockerfile
  services/analytics/README.md
  services/analytics/analyses/.gitkeep
  services/analytics/dbt_project.yml
  services/analytics/macros/.gitkeep
  services/analytics/models/sources/application_db/journal_details.yml
  services/analytics/models/sources/application_db/journal_sentiments.yml
  services/analytics/models/sources/application_db/journal_topics.yml
  services/analytics/models/sources/application_db/journals.yml
  services/analytics/models/sources/application_db/users.yml
  services/analytics/profiles/profiles.yml
  services/analytics/pyproject.toml
  services/analytics/seeds/.gitkeep
  services/analytics/snapshots/.gitkeep
  services/analytics/tests/.gitkeep
  services/analytics/uv.lock
Labels: none

add
  .github/workflows/dbt.yaml
  services/dbt/Dockerfile
Labels: none

add
  .github/workflows/dbt.yaml
Labels: none

z
  .github/workflows/dbt.yaml
Labels: none

z
  .github/workflows/dbt.yaml
Labels: none

z
  services/dbt/package-lock.yml
  services/dbt/packages.yml
Labels: none

add
  apuntes.md
  docker/db/01-bootstrap.sql
  docker/docker-compose-local.yaml
  services/dbt/models/marts/core/fct_journal_entries.sql
  services/dbt/models/marts/core/fct_journal_entries.yml
  services/dbt/models/staging/stg_journal_details.yml
  services/dbt/models/staging/stg_journals.yml
Labels: none

add
  .gitignore
  docker/db/01-bootstrap.sql
  scripts/buf-generate.sh
  services/backend/Dockerfile
  services/backend/Dockerfile.dev
  services/backend/go.mod
  services/backend/go.sum
  services/backend/internal/grpc/user_service.go
  services/backend/internal/pb/proto/user/user.pb.go
  services/backend/proto/user/user.proto
  services/frontend/README.md
  services/frontend/app/api/journals/route.ts
  services/frontend/components/calendar/SelectedDateEntries.tsx
  services/frontend/components/journal/JournalEntryCard.tsx
  services/frontend/components/journal/JournalList.tsx
  services/frontend/hooks/useCalendarData.ts
  services/frontend/hooks/useCreateJournal.ts
  services/frontend/hooks/useJournalFilters.ts
  services/frontend/lib/api/journals.ts
  services/frontend/lib/utils/calendar.ts
  services/frontend/lib/utils/dashboard.ts
  services/frontend/lib/utils/journalFilters.ts
  services/frontend/lib/utils/profileStats.ts
  services/frontend/types/journal.ts
Labels: backend, frontend

add
  .github/workflows/backend.yaml
Labels: none

more frontend improvements (#21)
  .github/workflows/backend.yaml
  .gitignore
  docker/db/01-bootstrap.sql
  scripts/buf-generate.sh
  services/backend/Dockerfile
  services/backend/Dockerfile.dev
  services/backend/go.mod
  services/backend/go.sum
  services/backend/internal/grpc/user_service.go
  services/backend/internal/pb/proto/user/user.pb.go
  services/backend/proto/user/user.proto
  services/frontend/README.md
  services/frontend/app/api/journals/route.ts
  services/frontend/components/calendar/SelectedDateEntries.tsx
  services/frontend/components/journal/JournalEntryCard.tsx
  services/frontend/components/journal/JournalList.tsx
  services/frontend/hooks/useCalendarData.ts
  services/frontend/hooks/useCreateJournal.ts
  services/frontend/hooks/useJournalFilters.ts
  services/frontend/lib/api/journals.ts
  services/frontend/lib/utils/calendar.ts
  services/frontend/lib/utils/dashboard.ts
  services/frontend/lib/utils/journalFilters.ts
  services/frontend/lib/utils/profileStats.ts
  services/frontend/types/journal.ts
Labels: backend, frontend

add
  .github/workflows/airflow.yaml
  services/airflow/.astro/config.yaml
  services/airflow/.astro/dag_integrity_exceptions.txt
  services/airflow/.astro/test_dag_integrity_default.py
  services/airflow/.dockerignore
  services/airflow/.gitignore
  services/airflow/.python-version
  services/airflow/Dockerfile
  services/airflow/README.md
  services/airflow/dags/dependency_print_dag.py
  services/airflow/dags/example_dag.py
  services/airflow/packages.txt
  services/airflow/pyproject.toml
  services/airflow/requirements.txt
  services/airflow/tests/dags/test_dag_example.py
  services/experiments/src/training/train_article_recommender.py
  services/experiments/src/training/train_example.py
Labels: experiments

add
  .github/workflows/airflow.yaml
Labels: none
